:host {
  margin-left: 20px;
  margin-right: 20px;
}

button {
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  width: 60px;
  border: 0;
  border-radius: 3px;
  background: #2F80ED;
  box-shadow: 2px 0 4px 0 #2F80ED;
  padding: 6px 12px 6px 15px;
  cursor: pointer;
}
