:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  position: absolute;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  background: #F2F2F2;
  border-radius: 5px;
  padding: 28px 20px 36px;
}

.main-header {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.main {
  display: flex;
  flex-direction: column;
}

app-input {
  margin-bottom: 20px;
}




