:host {
  display: flex;
  padding-left: 170px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;

  app-header-profile {
    margin-left: 148px;
  }
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;
}

.setting {
  background: #2F80ED;
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 0 4px 0 #2F80ED;
  cursor: pointer;
}
