:host {
  width: 479px;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  font-size: 12px;
}

.interactive {
  color: #2F80ED;
  background: none;
  font-size: 11px;
  border: 0;
  cursor: pointer;

}

input {
  border: 0;
  outline: none;
  border: none;
}

